body {
    margin: 0;
}


#main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    gap: 0.5rem;

    height: 100vh;
    width: 100%;
}

#winner-status {
    font-size: 2rem;
}

#game-title {
    font-size: 2rem;
}

#boards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);

    width: clamp(25vw, 640px, 45vw);
    height: clamp(25vw, 640px, 45vw);

    border: 1px solid black;
}

.board-block {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.25);
    font-family: Poppins, sans-serif;

    cursor: pointer;
    
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.missed-shot::before {
    content: 'x';
    font-size: 2rem;
    color: red;
}

.correct-shot::before {
    content: '💥';
    color: black;
    font-size: 2rem;
    
}

.shown {
    color: transparent;
    background-color: aliceblue;
}

#position-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}

.ship-position-input-div {
    display: grid;
    grid-template-columns: 0.75fr 0.25fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "LABEL LABEL"
    "INPUT BUTTON"
    "ERROR ERROR";
}

.ship-position-input-div > label {
    grid-area: LABEL;
}

.ship-position-input-div > input {
    grid-area: INPUT;
}

.ship-position-input-div > button {
    grid-area: BUTTON;
    border: 1px solid black;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
}

.position-input-error {
    grid-area: ERROR;
    color: red;
    font-size: 1rem;
}

#status-div {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

#start-button {
    cursor: pointer;
}